// 創建邊界限制的contain樣式

.container {
  @media screen and (max-width: 576px) {
    width: 100% !important;
  }

  @media screen and (min-width: 576px) {
    width: 546px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {
    width: 994px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    margin: 0 auto;
  }
}
