$colorList: (
  green: #3adc8d,
  blue: #118ab2,
  orange: #f26419,
  purple: #88498f,
  gray: #585563,
  ruby: #d81e5b,
);

// 產生主題背景色
@each $key, $value in $colorList {
  .#{$key}-theme {
    color: white !important;
    background-color: $value !important;
  }
}

// 產生不同主題顏色的按鈕樣式
@each $key, $value in $colorList {
  .#{$key}-theme.btn {
    color: white !important;
    border: 3px solid white;
    background-color: $value;
  }

  .#{$key}-theme.outlinebtn {
    color: white !important;
    border: 3px solid lighten($value, 15%) !important;
    background-color: darken($value, 10%) !important;
  }

  .#{$key}-theme.radio-btn {
    background-color: darken($value, 30%) !important;
    &::after {
      background-color: lighten($value, 30%) !important;
    }
  }
  input[type="radio"]:checked + .#{$key}-theme.radio-btn::after {
    opacity: 1;
  }

  .#{$key}-theme.normalbtn {
    background-color: $value;
    color: darken($value, 20%) !important;
  }
}

// 產生不同主題顏色的文字樣式
@each $key, $value in $colorList {
  .#{$key}-theme.text {
    color: lighten($value, 40%) !important;
  }
}

// 產生不同主題顏色的表單類樣式
@each $key, $value in $colorList {
  input[type="text"].#{$key}-theme {
    background-color: darken($value, 30%) !important;
  }

  input[type="text"].#{$key}-theme::placeholder {
    color: lighten($value, 20%) !important;
  }

  .#{$key}-theme.selectType {
    select {
      background-color: mix($value, rgb(169, 169, 169));
    }
  }
}

// 以下為list組件的主題樣式
@each $key, $value in $colorList {
  .#{$key}-theme.group {
    background-color: lighten($value, 10%) !important;
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 0px 0px 2px $value, 0px 0px 0px 4px lighten($value, 5%),
        0px 0px 0px 6px lighten($value, 10%),
        0px 0px 0px 8px lighten($value, 15%);
    }
    &:active {
      box-shadow: none;
    }
  }
}

@each $key, $value in $colorList {
  .#{$key}-theme.listItem {
    border: 5px solid darken($value, 30%);
    transition: all 0.2s;
    &:hover {
      transform: perspective(500px) translate3d(0, 0, 50px);
      box-shadow: 0px 7px 16px 2px rgba(mix($value, rgb(69, 69, 69)), 0.8);
    }

    .dataGroup {
      border: 5px solid lighten($value, 10%);
    }
  }
}
